<div flag-viewer>
    <div class="container">
        <span ng-if="ctrl.flag_link==null">Loading..</span>
        <img ng-src="{{ctrl.flag_link}}">

        <div class="row">
            <div class="col-lg-6">
                <h1></h1>
            Submitted by <h3>Authors Name</h3>
            Artists other pages: <a href="//example.com">link</a>
            </div>
            <div class="col-lg-2">
                <li>
                    <span><i class="fa fa-facebook"></i></span>

                </li>
<li>                <span><i class="fa fa-google-plus"></i></span>
</li>
<li>                <span><i class="fa fa-twitter"></i></span>
</li>
                <li><span><i class="fa fa-pinterest"></i></span></li>
            </div>
            <div class="col-lg-2">
                <div class="progress" style="height:4px; margin-top: 3px;">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                        <span class="sr-only">35% Like This</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 30%">
                        <span class="sr-only">10% Don't Like This</span>
                    </div>
                </div>
                <p class="">
                    <i class="fa fa-chevron-up"></i> 65
                    <i class="fa fa-chevron-down"></i> 40
                </p>

            </div>

        </div>
    </div>

</div>