<div flags>
    <h1>Flags..</h1>
    <style>
        .flags .social i {
            padding-right:10px;
        }

        .flags .author-name {
            margin-top: 0;
        }

        .single-flag
        {
            margin: 10px 0;
        }

        .flags .vote-area i {
            padding-left: 10px;
        }
        .stripe {
            background-color: #F7F5F2;
        }
    </style>
    <div class="flags" >
        <div ng-repeat="flag in ctrl.flags">
            <div ng-class-odd="'stripe'">

        <div class="container" >
            <div class="row single-flag">
            <div class="col-sm-3 hidden-xs text-right vote-area">
                <div class="progress" style="height:4px; margin-top: 3px;">
                    <div class="progress-bar progress-bar-success" style="width: 35%">
                        <span class="sr-only">35% Like This</span>
                    </div>
                    <div class="progress-bar progress-bar-danger" style="width: 30%">
                        <span class="sr-only">10% Don't Like This</span>
                    </div>
                </div>
                <p class="">
                    <i class="fa fa-chevron-up"></i> 65
                    <i class="fa fa-chevron-down"></i> 40
                </p>

            </div>
            <div class="col-md-6 col-sm-6 text-right">



                <img class="img-responsive text-right" ng-scr="" src="//placehold.it/1500x750&text=flag" ng-click="flag.show = true"/>
            </div>
            <div class="col-sm-3 hidden-xs">
                <h3 class="author-name">B. C. Linkz</h3>
                <!--{{ flag.author }}-->
                <!-- {{ flag.social }} -->


                <a href="http://www.example.com">bclinkz.deviantart.com</a><br>
                <!--{{ flag.links }}-->
                <span class="social">
                     <i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i> <i class="fa fa-google-plus"></i>
                </span> <br>

            </div>
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm" ng-hidden="flag.show">
                <div class="col-xs-6">
                    B. C. Linkz <br>
                    <span class="social">
                     <i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i> <i class="fa fa-google-plus"></i>
                </span>
                </div>
                <div class="col-xs-6 text-right vote-area">
                    <div class="progress" style="height:4px; margin-top: 7px;">
                        <div class="progress-bar progress-bar-success" style="width: 35%">
                            <span class="sr-only">35% Like This</span>
                        </div>
                        <div class="progress-bar progress-bar-danger" style="width: 30%">
                            <span class="sr-only">10% Don't Like This</span>
                        </div>
                    </div>
                    <i class="fa fa-chevron-up"></i> 65 <i class="fa fa-chevron-down"></i> 40
                </div>



            </div></div>  </div>
        </div>
</div>
    </div>
</div>