<div id="flags">

    <style>
        .flags .social i {
            padding-right:10px;
        }

        .flags .author-name {
            margin-top: 0;
        }

        .single-flag
        {
            margin: 3em 0;
        }

        .flags .vote-area i {
            padding-left: 10px;
        }
        .stripe {
            background-color: #F7F5F2;
        }
          .abc > span {width:50%; display: inline-block;}

    </style>
    <div class="flags container" >
        <h1>Flags</h1>
        <div class="filter-buttons">
            <a class="btn btn-default btn" ng-click="order='new'">
                <i class="fa" ng-class="order==='new' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> New
            </a>
            <a class="btn btn-default btn" ng-click="order='old'">
                <i class="fa"ng-class="order==='old' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> Old
            </a>
            <a class="btn btn-default btn" ng-click="order='popular'">
                <i class="fa" ng-class="order==='popular' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> Most Popular
            </a>
            <a class="btn btn-default btn" ng-click="order='unpopular'">
                <i class="fa" ng-class="order==='unpopular' ? 'fa-check-circle-o' : 'fa-circle-o'"></i> Least Popular
            </a>
        </div>
        <pre>{{flags}}</pre>
        <div ng-repeat="flag in flags">
            <div ng-class-odd="'stripe'">
                <div class="container" >
                    <div class="row single-flag">
                        <div class="col-sm-3 hidden-xs text-right vote-area">
                            <h3 class="author-name">{{flag.author_name}}</h3>
                            <span am-time-ago="flag.datetime"></span>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="visible-xs-block">
                                <h3 class="author-name">{{flag.author_name}} <small am-time-ago="flag.datetime"></small></h3>
                                </div>
                            <img class="img-responsive" ng-src="{{flag.img_link}}" ng-click="flag.show = true"/><!-- removed =s1000 from end of img link.. for now.. -->
                            <div class="abc">
                               <span ng-pluralize count=" {{flag.up_votes}}"
                                     when="{'-1': '{} point',
                                  '1': '{} point',
                                'other': '{} points'}">
                            </span><span class="text-right">
                                <a ng-if="flag.author_twitter" href="https://{{flag.author_twitter}}"><i class="fa fa-twitter fa-border"></i></a>
                                <a ng-if="flag.author_website" href="https://{{flag.author_website}}"><i class="fa fa-external-link fa-border"></i></a>
                                <a ng-if="flag.author_g_plus" href="https://{{flag.author_g_plus}}"><i class="fa fa-google-plus fa-border"></i></a>
                                <a ng-if="flag.author_fb" href="https://{{flag.author_fb}}"><i class="fa fa-facebook fa-border"></i></a>
                           </span>
                            </div>
                            <i class="fa  fa-thumbs-o-up  fa-2x  fa-border"></i>
                            <i class="fa  fa-thumbs-o-down  fa-2x  fa-border"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>