<div ng-if="success">
    success.. upload another flag?
</div>
<div ng-if="fail">
    failed to upload file..
</div>
<div ng-if="missingFile">
    please select a flag to upload.
</div>
<div ng-if="!uploadUrl">
    loading..
</div>
<div class="container" ng-show="uploadUrl">
    <form role="form" ng-submit="uploadFile()">
        <div class="form-group">
            <label for="file" class="control-label">Select Flag</label>

            <input type="file" name="file" class="form-control" id="file" required="" file-model="myFile">

        </div>

        <div class="form-group">
            <label for="name" class="control-label">Name</label>

            <input type="text" name="author_name" class="form-control" id="name" placeholder="Name" required="" ng-model="formData.author_name">

        </div>

        <div class="form-group">
            <label for="location" class="control-label">Location</label>
            <input type="text" name="author_location" class="form-control" id="location" placeholder="Your Location" ng-model="formData.author_location">
        </div>
        <div class="form-group">
            <label for="website1" class="control-label">Personal Websites</label>
            <p class="help-block">If you have more artwork available (DeviantArt, a blog, online prints etc) feel free to link to it here.</p>

            <input type="text" name="author_links" class="form-control" id="website1" placeholder="http://www.example.com" ng-model="formData.author_links">
        </div>
        <label class="control-label">Social Media</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="facebook" value="">
                Facebook
            </label>
        </div>
        <input type="text" name="author_fb" class="form-control" id="facebook" ng-if="facebook" placeholder="Enter you FaceBook link here" ng-model="formData.author_fb">
        <div class="checkbox">
            <label>
                <input class="" type="checkbox" ng-model="googleplus" value="">
                Google Plus
            </label>
        </div>
        <input type="text" name="author_g_plus" class="form-control" id="googleplus" ng-if="googleplus" placeholder="Enter you Google+ link here" ng-model="formData.author_g_plus">

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="twitter" value="">
                Twitter
            </label>

        </div>
        <div class="form-group">
            <input type="text" name="author_twitter" class="form-control" id="twitter" ng-if="twitter" placeholder="Enter you Twitter link here" ng-model="formData.author_twitter">
        </div>

        <input type="submit" class="btn btn-default" name="submit" value="Submit">
    </form>
</div>